body.container-fluid {
  font-family: 'Noto Sans TC';
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  max-height: 100%
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0)
}

.hhh {
  height: 100vh;
}


/* ---------------------------------bar--------------------------------- */

.leftbar {
  background-color: #FF7575;
  color: #fff;
}

.mission {
  background: #CB2424;
}

.analytics {
  background: #E54343;
}

.musicplayer {
  background: #F85A5A;
}

.barlogo {
  transform: rotate(-90deg);
  font-size: 36px;
  margin-top: auto;
  margin-bottom: 5rem;
}

.row .nav-link.active {
  color: #E54343;
  background-color: #fff;
}

.row .nav-link {
  color: #fff;
  border-radius: 0%;
  padding: 1.5rem 0;
}

.nav-link .fas, .nav-link i.far {
  font-size: 30px;
}

.nav-link {
  text-align: center
}


/* ---------------------------------list--------------------------------- */

.col-10.listpart {
  background-color: #ffffff;
  padding: 10% 5%;
}

.textinput {}

.adddiv {
  background-color: #F9F9F9;
  width: auto;
  height: 22.6%;
  border-radius: 5px;
  margin: 0;
  padding: 25px 30px
}

.addlist {
  color: #949494;
}

input {
  border: none;
  background: #f9f9f9;
}


/* ---------------------------------timer--------------------------------- */

.col-6.timerpart {
  background-color: #f9f9f9;
  padding: 4% 5% 0 5%;
}

.timer {
  width: 400px;
  height: 400px;
  border: 3px solid #FF6D6D;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #FFEBEB;
}

.timercontent {
  position: relative;
  width: 100%;
  text-align: center;

}

.timernumber {
  margin-top: 30%;
  font-size: 100px;
  font-weight: 700;
}

.timercontent .timerstar, .timercontent .timernumber {
  color: #E54343;
}

.timerstop, .timercancel {
  color: #ffffff;
  font-weight: 400
}

span.f18 {
  font-size: 18px;
  color: #949494;
}

span.f36 {
  color: #949494;
  font-size: 36px;
}

.timerstar {
  color: #FF6D6D
}

.now {
  display: block;
  font-size: 26px;
  color: #969696;
  margin-top: auto;
}